<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940168195435-po3olutp2fmeoou67nki2hr32fr1l6p2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940168195435-po3olutp2fmeoou67nki2hr32fr1l6p2</string>
	<key>API_KEY</key>
	<string>AIzaSyDAawvO0WT2cWro5WKuFsygtPJl1l23lTY</string>
	<key>GCM_SENDER_ID</key>
	<string>940168195435</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dem.ExitConfirmations</string>
	<key>PROJECT_ID</key>
	<string>exitconfirmation</string>
	<key>STORAGE_BUCKET</key>
	<string>exitconfirmation.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940168195435:ios:3427cb8acae878d848f02e</string>
	<key>DATABASE_URL</key>
	<string>https://exitconfirmation-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>